:root {
    --title-color: #292F36;
    --text-color: #4D5053;
    --btn-text: #FFF;
    --statistic-text: #CDA274;
    --statistic-bg: #F4F0EC;
    --footer-line: #E5E5E5;
    --blogs-line: #E7E7E7;
}

.container {
    width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    font-family: "Jost";
}

/* header */

header {
    padding: 30px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: var(--title-color);
    font-size: 19px;
    font-weight: 400;
    line-height: 1.57;
    letter-spacing: 0.4px;
}

.nav-link:hover {
    color: var(--statistic-text);
}

.attention {
    color: var(--statistic-text);
}

/* hero */

.hero {
    padding: 196px 0 252px 0;
    background-image: url(../img/background-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0px 0px 0px 290px;
}

.hero-title {
    color: var(--title-color);
    font-family: "DM Serif Display";
    font-size: 80px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.22px;
    width: 595px;
    margin-bottom: 19px;
}

.hero-text {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    width: 577px;
    margin-bottom: 35px;
}

.hero-btn {
    color: var(--btn-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.72px;
    padding: 22px 34px;
    border-radius: 18px;
    border: 2px var(--title-color);
    background: var(--title-color);
    display: flex;
    gap: 30px;
}

.span-hero {
    color: var(--statistic-text);
}

/* types */

.types {
    padding: 170px 0;
}

.types-list {
    display: flex;
    gap: 93px;
}

.types-items {
    display: flex;
    flex-direction: column;
}

.more {
    display: flex;
    justify-content: center;
    gap: 6px;

}

.types-title {
    color: var(--title-color);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 25px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.22px;
}

.types-text {
    color: var(--text-color);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    margin: 17px 0 35px 0;
}

.types-more {
    color: var(--text-color);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.36px;
}

.margin {
    margin-bottom: 68px;
    width: 317px;
}

.width {
    width: 297px;
}

/* call-us */

.call-us {
    padding-bottom: 139px;
}

.call {
    display: flex;
    gap: 77px;
}

.call-title {
    color: var(--title-color);
    font-family: "DM Serif Display";
    font-size: 50px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.22px;
    width: 450px;
    margin-bottom: 42px;
}

.call-text {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    width: 531px;
    margin-bottom: 40px;
}

.info {
    width: 154.313px;
    height: 79px;
    flex-direction: column;
    display: inline-flex;
}

.phone {
    display: inline-flex;
    gap: 20px;
}

.phone-btn {
    padding: 29px 30px;
    border: none;
    border-radius: 100px;
    background: var(--statistic-bg);
    margin-bottom: 50px;
}

.call-phone {
    width: 34px;
    height: 34px;
}

.call-tel {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.call-us {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.call-btn {
    color: var(--btn-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.72px;
    padding: 21px 34px;
    border-radius: 18px;
    border: 2px var(--title-color);
    background: var(--title-color);
}

.call-img {
    border-radius: 0px 326px 0px 123px;
}

/* reviews */

.view {
    border-radius: 70px;
    background: var(--statistic-bg);
    padding: 103px 35px 121px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.reviews-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.reviews-items {
    border-radius: 30px;
    background: #FFF;
    display: flex;
    flex-wrap: wrap;
    padding: 55px 79px 45px 35px;
    gap: 20px;
}

.reviews-title {
    color: var(--title-color);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 45px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.22px;
    width: 479px;
    margin-bottom: 47px;
}

.reviews-img {
    width: 77px;
    height: 77px;
}

.wiz {
    width: 274px;
}

.reviews-name {
    color: #292F36;
    font-family: "DM Serif Display";
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: 0.22px;
}

.reviews-locate {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.reviews-text {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

/* brands */

.brands {
    padding: 140px 0px 113px 0px;
}

.brands-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* projects */

.projects {
    padding-bottom: 140px;
}

.recent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    color: var(--title-color);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 47px;
    font-weight: 400;
    line-height: 1.32;
    letter-spacing: 0.22px;
    margin-bottom: 20px;
}

.projects-text {
    color: var(--text-color);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    width: 786px;
    margin-bottom: 70px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 60px;
}

.projects-card {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.projects-pic {
    border-radius: 0px 80px 0px 0px;
}

.projects-name {
    color: var(--title-color);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.projects-disc {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.button-arrow {
    border: none;
    padding: 27px 30px;
    border-radius: 100px;
    background: #F4F0EC;
}

/* statistic */

.statistic {
    background-color: var(--statistic-bg);
    padding: 140px 0;
}

.statistic-list {
    display: flex;
    justify-content: center;
    gap: 16px;

}

.statistic-item {
    border-right: 1px solid var(--statistic-text);
    flex-grow: 1;
}

.statistic-titile {
    color: var(--statistic-text);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 85px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1.7px;
}

.statistic-text {
    color: var(--text-color);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

/* blogs */

.blogs {
    padding: 141px 0;
}

.blog-title {
    color: var(--title-color);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 48px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.22px;
    margin-bottom: 21px;
}

.blogs-p {
    color: var(--text-color);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    width: 589px;
    margin-bottom: 70px;
}

.blogs-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 19px;
}

.blogs-item {
    border-radius: 62px;
    border: 1px var(--footer-line);
    width: 345px;
    padding: 21px;
    border-radius: 62px;
    border: 1px solid var(--blogs-line);
}

.blogs-img {
    border-radius: 45px 45px 0px 0px;
}

.blogs-btn {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    border-radius: 8px 8px 8px 0px;
    padding: 9px 10px;
    border: none;
    position: relative;
    bottom: 72px;
    left: 25px;
}

.blogs-name {
    color: var(--title-color);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-weight: 400;
    line-height: 1.;
    letter-spacing: 0.5px;
    width: 334px;
    margin-bottom: 20px;
}

.blogs-card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 149px;
}

.arrow-btn {
    border-radius: 100px;
    padding: 18px 20px;
    border: none;
    background: #F4F0EC;
}

/* join */

.dv {
    background-color: var(--title-color);
    width: 1170px;
    height: 400px;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.join-title {
    color: var(--btn-text);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 50px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    margin-bottom: 9px;
}

.join-text {
    color: var(--btn-text);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    margin-bottom: 31px;
}

.join-btn {
    color: var(--btn-text);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    border-radius: 18px;
    padding: 21px 34px;
    background-color: var(--statistic-text);
    border: 2px var(--statistic-text);
}

.item-text {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

/* contacts */

.contacnts {
    padding: 130px 0 80px 0;
}

.logo-footer {
    width: 177px;
    height: 50px;
}

.contacts-logo {
    display: flex;
    height: 454px;
    justify-content: space-between;

}

.we-text {
    width: 326px;
    margin-top: 15px;
}

.item-text {
    color:var(--text-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.list{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 22px;
}

.list-inst {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 30px;
}

.contacts title {
    color: var(--title-color);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.address {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}


/* end */

.end {
    border-top: 2px solid var(--footer-line);
    padding: 35px 0;
    text-align: center;
}

.footer-span {
    color: var(--statistic-text);
}